body {
    background-color: antiquewhite;
    text-align: center;
    margin: 0;
    color: black
    height: auto;
}

.wrapper {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
}

#game-holder {
  display: flex;
  /*align-items: center;*/
  align-items: center;
  justify-content: center;
  min-width: 100%;
  height: auto;
  display: block;
  }

.text {
  position: absolute;
  top: 8px;
  left: 16px;
  width: 98%;
  text-align: left;
  color: black;
  font-size: 28px;
  font-weight: 400;
  font-family: "Fira Sans";
}

.cbutton {
  background-color: #ffffff;
  opacity: 0;
  display: block;
  height: 95px;
  width: 205px;
  position: fixed;
  align-items: center;
  bottom: 516px;
  right: 1100px;
}  

.lbutton {
  background-image: url("button.png");
  display: block;
  height: 150px;
  width: 315px;
  position: fixed;
  align-items: center;
  bottom: 516px;
  left: 800px;
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: 400;
  font-family: "Josefin Sans";
}

.rbutton {
  background-image: url("button.png");
  display: block;
  height: 150px;
  width: 315px;
  position: fixed;
  align-items: center;
  bottom: 516px;
  right: 800px;
  text-align: center;
  color: white;
  font-size: 28px;
  font-weight: 400;
  font-family: "Josefin Sans";
}

#footer {
    width: 100%;
    overflow: hidden;
    text-align: center;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.6;
    font-family: Helvetica, sans-serif;
    height: 50px;
}